$navbar-height: 84px;
@import 'sass-bootstrap/lib/bootstrap';

@import "compass";

/* Set all parents to full height */
header,
html, body,
.scenarios,
.scenarios section { 
  height: 100%; 
}
h1,h2,h3,h4,h5, .lead {
  font-weight: 300;
  font-style: italic;
}
.navbar {
  border-radius: 0;
  border: none;
  position: fixed;
  z-index: 9;
  width: 100%;
  margin: 0;
  &.navbar-inverse {
    background: #000;
  }
  & > .container  {
    .navbar-brand {
      background: url('../images/cisco-logo.png') no-repeat;
      background-size: 100% auto;
      background-position: center center;
      width: 80px;
      height: $navbar-height;
      text-indent: -9999px;
      margin-left: 0;
      &:hover {
        opacity: .9;
        cursor: pointer;
      }
      @media (max-width: $screen-sm-min) {
        width: 60px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
  .navbar-text {
    margin-bottom: 0;
    color: #FFF;
    margin-top: 32px;
    @media (max-width: $screen-sm-min) {
      float: right;
      margin-right: 15px;
    }
  }
}
.scenarios {
  // Navigation
  & > nav {
    position: fixed;
    z-index: 9999;
    right: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
      display: block;
      position: relative;
      color: transparent;
      height: 20px;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #CCC;
      }
      &:hover:after,
      &.scenario-current:after {
        background: #CCC;
      }
    }
    // Position menu at bottom of screen on small devices
    @media (max-width: $screen-sm-min) {
      @include box-shadow(rgba(black, .2) 0px 0px 10px);
      right: 0;
      bottom: 0;
      top: 93%;
      background: #FFF;
      width: 100%;
      height: 7%;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      a {
        height: 100%;
        display: inline-block;
        width: 16%;
        &:after {
          left: 50%;
          top: 50%;
          margin-top: -5px;
          margin-left: -5px;
        }
      }
    }
  }
  // Global Section Styles
  section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
    .fadeIn {
      display: none;
    }
  }
}


#scenario-1 {
  color: #FFF; 
  padding-top: $navbar-height;
  // Control appearance in main.js
  .content,
  .secondary-content {
    display: none;
  }
  .content {
    top: 50%;
    position:absolute;
    margin-top: -200px;
    .secondary-content {
      padding-top: 2.0em;
    }
  }
  @media (max-width: $screen-sm-min) {
    .content {
      position: relative;
      margin: 0;
      text-align: center;
      h2 {
        font-size: 1.5em;
      }
      .img-circle {
        margin: 0 auto;
        border: 3px solid $body-bg;
      }
    }
  }
}

#scenario-2 {
  background: url('../images/section-2-bg.jpg') no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  .header {
    border-top: $navbar-height solid #000;
    color: #FFF;
    padding: 15px 0;
    background-color: #c9da2a; // Old browsers
    @include filter-gradient(#c9da2a, #00908c, horizontal); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(left, #c9da2a 0%,#3eb44a 50%,#00908c 100%));
    img {
      width: 60%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  .content {
    height: 380px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 1024px;
    img {
      width: 96%;
      padding: 2%;
      border: 1px solid #EEE;
      background: #FFF;
    }
  }
}
#scenario-3{
  background: #FFF;
}
#scenario-4 {
  background: #FFF;
}
#scenario-5 {
  background: #FFF;
}