$navbar-height: 84px;
$brand-primary: #00908c;
@import 'sass-bootstrap/lib/bootstrap';

@mixin gradient-bg {
  background: $brand-primary; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzlkYTJhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjM2ViNDRhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTA4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(45deg,  #c9da2a 0%, #3eb44a 50%, #00908c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#c9da2a), color-stop(50%,#3eb44a), color-stop(100%,#00908c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #c9da2a 0%,#3eb44a 50%,#00908c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #c9da2a 0%,#3eb44a 50%,#00908c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #c9da2a 0%,#3eb44a 50%,#00908c 100%); /* IE10+ */
  background: linear-gradient(45deg,  #c9da2a 0%,#3eb44a 50%,#00908c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9da2a', endColorstr='#00908c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
@mixin text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin box-shadow {
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
}
@mixin smooth-trans {
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
@import "_animations.css";

header,
html, body,
.scenarios,
.scenarios section { 
  height: 100%; 
  font-weight: 400;
}
body {
  line-height: 1.5;
}
h1,h2,h3,h4,h5, .lead {
  font-weight: 300;
}
.img-responsive {
  width: 100%;
}
.blur {
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
  @include smooth-trans;
}
.img-thumbnail {
  border-radius: 0;
}
.img-circle {
  @include box-shadow();
  border: 5px solid #f5f5f5;
}

.btn-primary {
  font-weight: 300;
  border: none;
  &:hover {
    @include smooth-trans;
  }
}
.btn-default {
  background: transparent;
  border: 3px solid #FFF;
  color: #FFF;
  &:hover {
    border-color: $body-bg;
    color: $body-bg;
    background: transparent;
    opacity: .7;
    @include smooth-trans;
  }
}

.text-gradient {
  @include gradient-bg();
  @include text-gradient();
}


.navbar {
  border-radius: 0;
  border: none;
  position: fixed;
  z-index: 9;
  width: 100%;
  margin: 0;
  @media (max-width: $screen-sm-min) {
    position: relative;
  }
  &.navbar-inverse {
    background: #000;
  }
  & > .container  {
    .navbar-brand {
      background: url('../images/cisco-logo.png') no-repeat;
      background-size: 100% auto;
      background-position: center center;
      width: 80px;
      height: $navbar-height;
      text-indent: -9999px;
      margin-left: 0;
      &:hover {
        opacity: .9;
        cursor: pointer;
      }
      @media (max-width: $screen-sm-min) {
        width: 60px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
  .navbar-text {
    margin-bottom: 0;
    color: #FFF;
    margin-top: 32px;
    @media (max-width: $screen-sm-min) {
      float: right;
      margin-right: 15px;
    }
  }
}
.scenarios {
  // Navigation
  & > nav {
    display: none;
    position: fixed;
    z-index: 9999;
    right: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
      display: block;
      position: relative;
      color: transparent;
      height: 20px;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #CCC;
      }
      &:hover:after,
      &.scenario-current:after {
        background: #CCC;
      }
    }
    // Position menu at bottom of screen on small devices
    @media (max-width: $screen-sm-min) {
      @include box-shadow();
      right: 0;
      bottom: 0;
      top: 93%;
      background: #FFF;
      width: 100%;
      height: 7%;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      a {
        height: 100%;
        display: inline-block;
        width: 16%;
        &:after {
          left: 50%;
          top: 50%;
          margin-top: -5px;
          margin-left: -5px;
        }
      }
    }
  }
  section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media (max-width: $screen-sm-min) {
      height: auto;
    }
  }
}
#scenario-1 {
  color: #FFF; 
  padding-top: $navbar-height;
  @include gradient-bg();
  .content,
  .secondary-content {
    display: none;
  }
  #arrow {
    background: url("../images/arrow.png") no-repeat;
    background-size: 100% auto;
    height: 226px;
    width: 47px;
    background-position: center center;
    right: 0;
    top: 0;
    opacity: .5;
    position: absolute;
    top: 50%;
    margin-top: -113px;
    margin-right: 72px;
    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
  .content {
    // top: 50%;
    // position: absolute;
    // margin-top: -200px;
    padding-top: 4.0em;
    .secondary-content {
      padding-top: 2.0em;
      .lead.text-muted {
        color: $body-bg;
        opacity: .7;
        font-size: 1.3em;
      }
      .btn-default {
        margin-bottom: 170px;
      }
    }
  }
  @media (max-width: $screen-sm-min) {
    padding-top: 0;
    .content {
      position: relative;
      margin: 0;
      padding: 0;
      text-align: center;
      h2 {
        font-size: 1.5em;
      }
      .img-circle {
        margin: 0 auto;
        border: 3px solid $body-bg;
      }
    }
  }
  @media (max-width: $screen-xs-min) {
    img {
      display: none;
    }
  }
}
#scenario-2,
#scenario-3,
#scenario-4,
#scenario-5,
#scenario-6 {
  .content {
    display: none;
    @media (max-width: $screen-sm-min) {
      display: block;
    }
    padding: 4.0em 0 0 0;
    border-top: $navbar-height solid #FFF;
    .text-muted {
      color: #999;
      margin-top: 2.0em;
      padding-left: 1.0em;
      border-left: 3px solid;   
    }
    // .img-circle {
    //   max-width: 80%;
    //   margin: 0 auto;
    // }
    .btn-primary {
      margin-top: 1.0em;
    }
    @media (max-width: $screen-sm-min) {
      margin: 0;
      border-top: 0;
      position: relative;
      text-align: center;
      padding: 40px 0 0 0;
      height: auto;
      .img-circle {
        margin-bottom: 20px;
      }
      .text-muted {
        border: none;
        padding: 0;
      }
    }
  }
  .technology {
    top: 0;
    z-index: 6;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    rgba: (255,255,255,.5);
    padding: 8.0em 0 0 0;
    h3 {
      color: $brand-primary;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        border-bottom: 1px solid rgba(0,0,0,.1);
        a{
          line-height: 2.25em;
          display: block;
          padding-left: 5px;
          &:hover {
            color: $body-bg;
            background: $brand-primary;
            text-decoration: none;
            @include smooth-trans;
          }
        }
      }
    }
    .close {
      opacity: 1.0;
      padding: 5px 5px 5px 5px;
      right: 0;
      margin-top: -40px;
      top: $navbar-height;
      margin-right: 20px;
      text-shadow: none;
      &:hover {
        color: #CCC;
      }
    }
    @media (max-width: $screen-sm-min) {
      position: fixed;
      top: 0;
      height: 100%;
      margin-top: 0;
      padding: 3.0em 0 0 0;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
      .close {
        color: #FFF;
        background: #000;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        padding: 10px 0;
      }
    }
  }
}
#scenario-2 {
  .content {
    @media (max-width: $screen-sm-min) {
      margin-top: -170px;
    }
  }
}