$navbar-height: 84px;
@import 'sass-bootstrap/lib/bootstrap';

@import "compass";

/* Set all parents to full height */
header,
html, body,
.scenarios,
.scenarios section { 
  height: 100%; 
}
h1,h2,h3,h4,h5, .lead {
  font-weight: 300;
  font-style: italic;
}
.navbar {
  border-radius: 0;
  border: none;
  position: fixed;
  z-index: 9;
  width: 100%;
  margin: 0;
  &.navbar-inverse {
    background: #000;
  }
  & > .container  {
    .navbar-brand {
      background: url('../images/cisco-logo.png') no-repeat;
      background-size: 100% auto;
      background-position: center center;
      width: 80px;
      height: $navbar-height;
      text-indent: -9999px;
      margin-left: 0;
      &:hover {
        opacity: .9;
        cursor: pointer;
      }
      @media (max-width: $screen-xs-min) {
        width: 60px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
  .navbar-text {
    margin-bottom: 0;
    margin-top: 32px;
    @media (max-width: $screen-xs-min) {
      float: right;
      margin-right: 15px;
    }
  }
}
.scenarios {
  // Navigation
  & > nav {
    position: fixed;
    z-index: 9999;
    right: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    a {
      display: block;
      position: relative;
      color: transparent;
      height: 20px;
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #CCC;
      }
      &:hover:after,
      &.scenario-current:after {
        background: #CCC;
      }
    }
    // Position menu at bottom of screen on small devices
    @media (max-width: $screen-sm-min) {
      right: 0;
      bottom: 0;
      top: 93%;
      background: #FFF;
      width: 100%;
      height: 7%;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      a {
        height: 100%;
        display: inline-block;
        width: 16%;
        &:after {
          left: 50%;
          top: 50%;
          margin-top: -5px;
          margin-left: -5px;
        }
      }
    }
  }
  // Global Section Styles
  section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
  }
}


#scenario-1 {
  color: #FFF; 
  padding-top: $navbar-height;
  // Control appearance in main.js
  .content,
  .secondary-content {
    display: none;
  }
  .content {
    top: 50%;
    position:absolute;
    margin-top: -200px;
    .secondary-content {
      padding-top: 2.0em;
    }
  }
  @media (max-width: $screen-sm-min) {
    .content {
      position: relative;
      margin: 0;
      text-align: center;
      h2 {
        font-size: 1.5em;
      }
      .img-circle {
        margin: 0 auto;
        border: 3px solid $body-bg;
      }
    }
  }
}

#scenario-2 {
  background: #F5F5F5;
  -webkit-box-shadow:inset 0 0 3px 0 rgba(0,0,0,.3);
  box-shadow:inset 0 0 3px 0 rgba(0,0,0,.3);
  .header {
    border-top: $navbar-height solid #000;
    text-align: center;
    color: #FFF;
    padding: 1.0em 0;
    background: #c9da2a;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzlkYTJhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjM2ViNDRhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTA4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(45deg, #c9da2a 0%, #3eb44a 50%, #00908c 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c9da2a), color-stop(50%, #3eb44a), color-stop(100%, #00908c));
    background: -webkit-linear-gradient(45deg, #c9da2a 0%, #3eb44a 50%, #00908c 100%);  background: -o-linear-gradient(45deg, #c9da2a 0%, #3eb44a 50%, #00908c 100%);
    background: -ms-linear-gradient(45deg, #c9da2a 0%, #3eb44a 50%, #00908c 100%);
    background: linear-gradient(45deg, #c9da2a 0%, #3eb44a 50%, #00908c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9da2a', endColorstr='#00908c',GradientType=1 ); 
    h2 {
      font-size: 2.0em;
      margin-bottom: 0;
    }
    .lead {
      font-size: 1.5em;
      margin-top: 0;
    }
  }
  .content {
    height: 380px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    width: 1024px;
    img {
      width: 96%;
      padding: 2%;
      border: 1px solid #EEE;
      background: #FFF;
    }
  }
  &:after {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 2400px solid #f5f5f5;
    border-left: 30px solid transparent;
    border-bottom: 0 solid #f5f5f5;
    position: absolute;
    margin: 0 auto;
    top: 260px;
    right: 0;
  }
}
#scenario-3{
  background: #FFF;
}
#scenario-4 {
  background: #FFF;
}
#scenario-5 {
  background: #FFF;
}